<!DOCTYPE html>
<html>
<head>
    <base href="<%=basePath%>">
    <title>登录</title>
    {% include 'includes/meta_and_link.html' %}
</head>

<body>
<!-- 导航栏  -->
{% include 'includes/header.html' %}
<!-- 内容  -->
<form class="am-form" action="action/login" method="post">
    <fieldset>
        <legend>登录</legend>

        <div class="am-form-group">
            <label for="email">邮箱</label>
            <input type="email" name="username" id="email" placeholder="请输入邮箱账号">
        </div>

        <div class="am-form-group">
            <label for="pwd">密码</label>
            <input type="password" name="user_pwd" id="pwd" placeholder="请输入密码">
        </div>
        <center>
            <button type="submit" class="am-btn am-btn-default btn-login">登录</button>
            <br/> <br/>
            {% if session["login_error"] %}
            <p class=\"p-error\">{{session["login_error"]}}</p>
            {% endif %}
            <br/> <br/> <a href="/register">没有账号？注册一个吧！</a>
        </center>

    </fieldset>
</form>
<!-- 底部栏  -->
{% include 'includes/footer.html' %}
</body>
</html>