<!-- 项目演示不一定有网，所以改为本地的资源 -->
<script src="/static/js/jquery.min.js"></script>
<link href="/static/css/app.css" rel="stylesheet">
<!-- #AMAZE UI -->
<link href="/static/css/amazeui.min.css" rel="stylesheet">
<script src="/static/js/amazeui.min.js"></script>


<!-- 手机端控制尺寸 为手机适配 -->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- #这些是网络资源 (CDN镜像，加快访问速度)-->
<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<!-- #AMAZE UI -->
<!--<link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"> -->
<!--<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script> -->
<!-- #暂时不需要的<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script> -->

